*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  // 1 rem = 10px
  font-size: 75%;
}
body {
  box-sizing: border-box;
  background-color: rgb(17, 17, 17);
  // background-image: linear-gradient(to right bottom, #414141, #000000);
}
